In [5]:
import PublicDataReader as pdr
sido_name = "부산"
sigungu_name = "해운대구"
code = pdr.code_bdong()
df = code.loc[(code['시도명'].str.contains(sido_name)) & (code['시군구명'].str.contains(sigungu_name)) &
         (code['읍면동명']=='')]
df.head()
# result = df['시군구코드']

# if len(result) >= 2:
#     print(result[1])
# else:
#     print(result[0])

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2024.8.1. 시행)

     시도코드    시도명  시군구코드  시군구명       법정동코드 읍면동명 동리명      생성일자      말소일자
1478   21  부산직할시  21350  해운대구  2135000000           19880423  19950101
2765   26  부산광역시  26350  해운대구  2635000000           19950101

In [35]:

sido_name = "경기도"
sigungu_name = "장안구"
code = pdr.code_bdong()
df = code.loc[(code['시도명'].str.contains(sido_name)) & (code['시군구명'].str.contains(sigungu_name)) &
         (code['읍면동명']=='')]
df.head()

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2024.8.1. 시행)

     시도코드  시도명  시군구코드     시군구명       법정동코드 읍면동명 동리명      생성일자 말소일자
5003   41  경기도  41111  수원시 장안구  4111100000           19880701

In [4]:
sigunguName = "마산합포구"
connect_data = pdr.code_hdong_bdong() ##행정동 법정동 연결 데이터
result = connect_data[connect_data['시군구명']==sigunguName]['시군구코드'].unique()

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2024.8.1. 시행)

In [28]:
from PublicDataReader import TransactionPrice
import os

from dotenv import load_dotenv
load_dotenv()

service_key = os.environ.get("API_KEY")

api = TransactionPrice(service_key)



df = api.get_data(
        property_type="아파트",
        trade_type="매매",
        sigungu_code="26350",
        start_year_month="202401",
        end_year_month="202408",
    )

In [29]:
df = df[["roadNm","aptNm","excluUseAr","dealYear","dealMonth","dealDay","dealAmount","floor",
         "buildYear","dealingGbn","aptDong"]]

df = df.rename(columns = {"roadNm": "도로명" , "aptNm":"단지명", "excluUseAr":"전용면적", "dealYear":"계약년도",
                          "dealMonth":"계약월","dealDay":"계약일","dealAmount":"거래금액(단위:만원)","floor":"층",
                          "buildYear":"건축년도","dealingGbn":"거래유형","aptDong":"아파트 동명",
                          })
df = df[["단지명","아파트동","층","전용면적","도로명","계약년도","계약월","계약일","거래금액(단위:만원)","거래유형","건축년도"]]

df.head()

,단지명,아파트 동명,층,전용면적,도로명,계약년도,계약월,계약일,거래금액(단위:만원),거래유형,건축년도
0,현대카멜리아,None,22,147.69,마린시티1로,2024,1,30,"134,000",중개거래,2001
1,대원,106,22,84.97,좌동순환로,2024,1,29,"52,000",중개거래,1998
2,해운대더샵센텀그린,104동,5,72.9699,해운대로61번길,2024,1,29,"38,600",중개거래,2019
3,대원,103,6,59.79,좌동순환로,2024,1,31,"37,000",중개거래,1998
4,센텀이편한세상,109,5,84.98,해운대로76번길,2024,1,30,"62,000",중개거래,2006